<div class="row">
    <div class="col">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Login">
                <div class="animate__animated animate__fadeIn">
                    <div class="text-center">
                        <img class="img m-3" src="./assets/svg/people-01.svg" alt="">
                    </div>
                    <app-login></app-login>
                </div>
            </mat-tab>
            <mat-tab label="Register">
                <div class="animate__animated animate__fadeIn">
                    <div class="text-center">
                        <!-- <img class="img m-3" src="./assets/svg/people-02.svg" alt=""> -->
                    </div>
                    <app-register></app-register>    
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
