<div class="container-fluid">
    <br><br>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-5">
                <h1>Nuevo email</h1>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>De</mat-label>
                    <input type="email" 
                           matInput 
                           formControlName="email" 
                           autocomplete="off">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                      Por favor digite un email válido
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                      El email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Para</mat-label>
                    <input type="text" 
                           matInput 
                           formControlName="to" 
                           autocomplete="off">
                    <mat-error *ngIf="to.hasError('required')">
                      El destino es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Asunto</mat-label>
                    <input type="text" 
                           matInput 
                           formControlName="subject" 
                           autocomplete="off">
                    <mat-error *ngIf="subject.hasError('required')">
                      El asunto es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                    <button mat-icon-button matSuffix 
                            (click)="hide = !hide"
                            type="button" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">
                        El password es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-7">
                <ngx-wig formControlName="html"></ngx-wig>
                <div class="mt-2" align="end">
                    <button mat-raised-button 
                            color="primary" 
                            type="button"
                            [disabled]="loadding"
                            (click)="send()">
                        <span *ngIf="loadding" class="spinner-border spinner-border-sm" role="status">
                        </span>
                        Enviar email
                    </button>
                    <button type="reset" 
                            mat-raised-button 
                            [disabled]="loadding"
                            class="m-1">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>